.imgBut {
  width: 100%;
  max-width: 40px;
}

.menuLateral {
  width: 300px;                    /* Ancho cómodo */
  height: 100vh;
  background: #83838310;            /* Fondo negro/gris muy oscuro uniforme */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;  
  left: 0;
  top: 0;
  overflow: hidden;
  box-shadow: 6px 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.logo-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  padding: 12px;
  background: rgb(20, 20, 20);
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: #2b2118;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menu-btn:hover {
  background: #333;
  color: white;
  transform: translateX(4px);
}

.menuNav {
  max-width: 100%;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.spacer {
  flex-grow: 1;               /* ¡Ocupa todo el espacio disponible! */
}

.exit {
  width: 72%; 
  height: 50px;                
  margin: 12px auto 30px;            
  justify-content: center;        
  padding: 16px 20px;
  background: #d32f2f;           
  color: white;
  font-size: 17px;
  letter-spacing: 3.5px;
  border-radius: 3px;         
  transition: all 0.3s ease;
}

.exit:hover {
  background: #b71c1c;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(211, 47, 47, 0.6);
}

.exit:active {
  transform: translateY(-2px);
}

.exit img {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
}

.bottons-button {
  flex-direction: column;       
  align-items: center;      
  justify-content: center;      
  width: 100%;   
}

