.evaluation-bar {
  margin-right: 20px;
  width: 30px;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 6px 0 20px rgba(0, 0, 0, 0.5);
}

.eval-section {
  transition: height 0.8s ease-in-out;
}

.eval-bar-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
}
.eval-section.white {
  background-color: #f0f0f0;
}
.eval-section.black {
  background-color: #1a1a1a;
}