.imgLogo {
  width: 100%;
  max-width: 60px;
}

.intro {
  color: antiquewhite;
  font-style: italic;
  font-size: 28px;
}

.titulo {
  color: white;
  font-size: 25px;
}
.subtitulo {
  color: white;
}
input {
  width: 75%;
}
.marco {
  background-color: #cccccc13;
  border-radius: 20px;
}