
.all-data {
  width: min(77vw, 77vh);
}
.chessboard {
  width: min(77vw, 77vh);
  height: min(77vw, 77vh);
  box-shadow: 0 10px 30px rgba(167, 167, 167, 0.288);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}


.board-row {
  display: contents; 
}


.square {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
}

.square.light { background-color: #f0d9b5; }
.square.dark  { background-color: #b58863; }

.board-header, .board-footer {
  height: 50px;
  width: 100%;                
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgba(236, 236, 236, 0.068);
  color: #fff;
  border-radius: 5px;
}

.piece {
  width: 90%;
  height: 90%;
  object-fit: contain;
}



.profile-pic {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
.username {
  font-size: 22px;
}
.tiempo {
  font-size: 1.3rem;         
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  text-shadow: 0 2px 8px rgb(0, 0, 0);
}








.square.selected {
  box-shadow: inset 0 0 0 4px #f5c26f;
  background-color: #f5c26f88 !important;
}

.square.legal-move {
  position: relative;
}

.square.legal-move::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00ff0088;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.square.capture-move::after {
  background: #ff000088;
  width: 36px;
  height: 36px;
  border: 6px solid #ff000088;
  border-radius: 50%;
  box-sizing: border-box;
}