.promotion-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.promotion-box {
  background: #222;
  padding: 15px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
}

.promotion-box img {
  width: 60px;
  cursor: pointer;
}

.promotion-box img:hover {
  transform: scale(1.1);
}
